<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o Aplicativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Nome do Aplicativo: Parapente-Weather</h2>
  <p>
    <strong>Descrição:</strong><br>
    O Parapente-Weather é um aplicativo voltado para entusiastas de parapente que desejam ter acesso rápido e fácil às condições meteorológicas necessárias para praticar seu esporte com segurança. Com uma interface intuitiva e amigável, o aplicativo fornece informações detalhadas sobre o clima atual e previsto, incluindo temperatura, umidade, velocidade do vento e previsões futuras. Além disso, o Parapente-Weather oferece uma avaliação das condições de voo, ajudando os pilotos a determinar se o clima é adequado para suas atividades.
  </p>
  <p>
    <strong>API de Clima:</strong><br>
    O aplicativo utiliza a API do OpenWeatherMap para obter dados meteorológicos precisos e atualizados. Essa API oferece uma ampla gama de informações meteorológicas, incluindo previsões de curto e longo prazo, condições atuais e muito mais.
  </p>

    <strong>Integrantes do Grupo:</strong>
    <div class="team-member">
      <img src="https://media-gig4-2.cdn.whatsapp.net/v/t61.24694-24/422539167_293105313751786_736547331968631260_n.jpg?ccb=11-4&oh=01_Q5AaIPSjiUblxsp_56asS8rC0mYhqdx2HITU7wsZX-UTlJMw&oe=665E1D98&_nc_sid=e6ed6c&_nc_cat=111" alt="Gabriel">
      <span>Gabriel Bernardos Esteves de Barros - 23108488</span>
    </div>
    <div class="team-member">
      <img src="https://media-gig4-2.cdn.whatsapp.net/v/t61.24694-24/342088961_750188060142193_2048546314437512411_n.jpg?ccb=11-4&oh=01_Q5AaICzNpMVhtj8O2ibiFHzPRcdFmb_1O2uN6SRvujh6rgYr&oe=665E011F&_nc_sid=e6ed6c&_nc_cat=103" alt="Lucas">
      <span>Lucas Henrique Salles Gregorio - 23106523</span>
    </div>
    <div class="team-member">
      <img src="https://media-gig4-2.cdn.whatsapp.net/v/t61.24694-24/416221013_807855457944802_1900936423830656933_n.jpg?ccb=11-4&oh=01_Q5AaIIJiN__a3leRBbT4RqpYM-y_aMPjRWhSzjVoQc8Ye5xz&oe=665E1946&_nc_sid=e6ed6c&_nc_cat=101" alt="Tiago">
      <span>Tiago Ferreira Pinheiro dos Santos - 23106448</span>
    </div>


</ion-content>
